/*Hero y Experiencias de landing page*/

/*Hero Landing page*/
    .hero {
      text-align: center;
      padding: 60px 20px 30px;
      color: white;
      background: linear-gradient(to right, rgba(30, 60, 114, 0.85), rgba(42, 82, 152, 0.20)),
              url('https://images.unsplash.com/photo-1528148204584-a1910b6efa11?q=80&w=1121&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  
        background-size: cover;       /* Escala la imagen para cubrir todo */
        background-position: center;  /* Centra la imagen */
        background-repeat: no-repeat; /* Evita que se repita */
    }

    .hero h2 {
      font-size: 40px;
      margin-bottom: 10px;
      margin-top: 3rem;
    }

    .hero p {
      font-size: 22px;
      margin: 0;
      margin-top: 1rem;
      margin-bottom: 4rem;
    }

/*Experiencias*/
main {
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
    }

#experiencesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
    padding: 20px 0;
}

/* Tarjeta */
.experience-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.experience-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.1);
}

/* Imagen */
.card-image-wrapper {
    position: relative;
    height: 180px;
    overflow: hidden;
}

.card-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 4px 8px;
    font-size: 0.75rem;
    border-radius: 4px;
    text-transform: uppercase;
}

/* Contenido */
.content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.content h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: #222;
}

.location {
    color: #777;
    font-size: 0.9rem;
    margin: 0;
}

.date {
    color: #555;
    font-size: 0.85rem;
    margin: 4px 0;
}

.price-row {
    margin-top: auto; /* Empuja el precio al fondo */
    padding-top: 10px;
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.price strong {
    font-size: 1.1rem;
    color: #222;
}