<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    body{font-family:system-ui,Segoe UI,Roboto,Arial;margin:20px}
    pre{background:#111;color:#eee;padding:12px;border-radius:6px;overflow:auto}
  </style>
</head>
<body>

  {{{body}}}   <!-- Aquí se inserta la vista -->

</body>
</html>